body {background-color: #D1D1D1;
}

H1{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Chivo', sans-serif;
}
.container{
    padding: 20px;
}
.card-text
{
    font-family: 'Chivo', sans-serif;
    font-size: large;
}

.About{
    padding-top: 100px;
}