.accordion {
    background-color: rgb(236, 235, 235);
    font-weight: bold;
    color: black;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border:black; 
    border-width:2px; 
    border-style:solid;
    outline: none;
    font-size: 21px;
    transition: 0.4s;
  }
  
  .accordion:hover {
    background-color: #6c757d;
  }
  .panel {
    padding: 0 18px;
    background-color: #D1D1D1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }